    .box {
    width: 100%;
    height: 50%;
    background: rgb(255, 255, 255 TRANSPARENT 60%);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 55px 0 #000 ;
    padding: 20px 20xp 20xp 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    text-align: center;
    font-weight: bold;} 

    .box1 {
    width: 35%;
    height: 50%;
    background: (#fcfafa TRANSPARENT 5%);
    margin: auto;
    margin-top: 5px;
    box-shadow: 0 0 55px 0 #000 ;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    text-align: center;} 

    .box2 {
    width: 100%;
    height: 80%;
    background: (#fcfafa TRANSPARENT 50%);
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 55px 0 #000 ;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    text-align: center;} 

    .box3 {
    width: 30%;
    height: 30%;
    background: (#fcfafa TRANSPARENT 50%);
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 55px 0 #000 ;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    text-align: center;
    border-radius: 1.3px
    ;} 

    .box4 {
    width: 100%;
    height: 600px;
    font-weight: 1000 ;
    background: (#fcfafa TRANSPARENT 50%);
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 55px 0 #000 ;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #252525;
    
    
    }   
    
    .box5 {
    width: 100%;
    height: 800px;
    background: (#fcfafa TRANSPARENT 50%);
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 55px 0 #000 ;
    -ms-flex-align:baseline;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 900;
    color: #252525;
    text-align: left;} 
   
h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(103, 105, 103) ;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    
}

h2 {
    background-color: rgb(139, 143, 139);
    transform-box:view-box;
    color: rgb(2, 2, 2);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: 0;
    margin: 20px;
    margin-top: 1px;
}

.h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
    padding: 5px;
    line-height: 1;
    letter-spacing: 1;
}

body {
    background: linear-gradient(TRANSPARENT, BLACK);
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMUGSiSQYcWuYWjHmKcJGfH_anVXsi16-sNniy0gPW4oz4puzMxSHHS3jmdKVffKDHScgN0r-8y9SYxT8umcTfpC4gVV5sh6xC4lUTGgMtsmsVixoZbIUZVYvE19RF6weoKYUcAlUCWpfVqEa1noojw5g=w692-h919-s-no-gm?authuser=0);
    font-family: 'Arial', sans-serif;
    background-size:cover ;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
    

    nav {
        color: rgb(31, 30, 28);        
        font-weight: 800;
        min-height: 800;
        height: 1%;
        padding: 10px;
        text-align: center;
        font-family: 'Arial', sans-serif;
        margin-top: 5px;
        line-height: 1.4;
        letter-spacing: 1xp;
    }

    IFRAME {
        background-position: right;
        border: 2px solid rgb(20, 21, 20);
        border-radius: 0.3cm;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        display: 10px;
        width: 100%;
        height: 315px;
    }

    
    article { 
   
        color: rgb(20, 20, 20);
        text-align: justify;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin: 20px 20px 20px 20px;
        padding: 15px;
        line-height: 1.4;
        letter-spacing: 1;
        font-size: 1.5vh;
        width: 100%;
        height: 80%;
    }

    aside {

        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-size: 1.5vh ;
        font-weight:700;
        margin: 10px 10px 10px 10px;
        padding: 15px;
        line-height: 1.4;
        text-size-adjust:var(.box4);
        text-box:var(.box4);
    }

    div {
        width: 100%;
        height: 80%;
        color: rgb(233, 238, 233);
        background-color: rgb(7, 48, 48);
        text-align: center;
        font-size: 1.5vh ;
        font-family: 'Arial', sans-serif;
        margin-top: 10px;
        padding: 20PX;
        line-height: 1;
        -moz-box-align:center;
        
    }
    FOOtER {
        width: 100%;
        height: 20%;
        color: rgb(234, 236, 236);
        background-color: rgb(17, 17, 16);
        text-align: center;
        font-family: 'Arial', sans-serif;
        line-height: 1.4;
        padding: 15px;
        }
